.container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  overflow: visible;
}

.item {
  position: absolute;
}

@media (max-width: 900px) {
  .item {
    transform: scale(0.6);
  }
}

@media (max-width: 500px) {
  .item {
    transform: scale(0.45);
  }
}
