.container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  overflow: visible;
}

.item {
  position: absolute;
}

@media (max-width: 900px) {
  .container {
    display: none;
  }
}
