@import "tailwindcss";

:root {
  --background: #e8e2bf;
  --foreground: #171717;
  --primary-green: #072b16;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kaloyak: var(--font-kaloyak);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8e2bf;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure smooth animations */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
